<section data-ng-controller="HomeController">
    <div id="fullpage">
        <!--Index-->
        <div class="sectionFullPage">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
                    <h1 class="name">Hi, I'm Florent DANCY</h1>
                    <hr/>
                    <h2 class="job-title">
                        Currently looking for a position as <br/>
                        Software Engineer / Frontend Developer
                    </h2>
                </div>
            </div>
            <div class="sections-anchors">
                <a href="#" class="flexbox-button">Resume</a>
                <a href="#" class="flexbox-button">Experiences</a>
                <a href="#" class="flexbox-button">Computing Skills</a>
                <a href="#" class="flexbox-button">Projects</a>
                <a href="#" class="flexbox-button">Education</a>
                <a href="#" class="flexbox-button">About Me</a>
            </div>
        </div>
        <!--Resume-->
        <div class="sectionFullPage">
            <div class="well">
                <h1 class="section-header">Resume</h1>
            </div>
        </div>
        <!--Experiences-->
        <div class="sectionFullPage">
            <!--tinyclues-->
            <div class="slideFullPage">
                <div class="well experience">
                    <img src="../../../modules/core/img/experiences/tinyclues.png" alt="tinyclues" class="logo"/>
                    <h1 class="section-header">Experiences</h1>
                    <h2 class="job-title">Software Engineer</h2>
                    <h3 class="company">tinyclues</h3>
                    <h4 class="duration">January 2015 - March 2015 | Paris</h4>
                    <div class="job-description">
                        <p>I worked on the SaaS platform of tinyclues, and also on the corporate <a href="http://www.tinyclues.com/">website</a> of the company.</p>
                        <p>My main responsibilities were :</p>
                        <ul>
                            <li>Production of new features on the platform,</li>
                            <li>Maintaining the existing Javascript librairies, continuous improvement,
                                implementation of new librairies,</li>
                            <li>Integration tasks on both the platform and the corporate website.</li>
                        </ul>
                        <p>On a daily basis, I used technologies, languages and softwares such as <b>HTML5,
                            CSS3 (Bootstrap), JS (Module Pattern, jQuery, D3.js, Grunt, Bower, NPM), Salt / Jenkins,
                            Python (Flask), Github, JIRA with Agile methodology (Scrum).</b></p>
                    </div>
                </div>
            </div>
            <!--Kilix-->
            <div class="slideFullPage">
                <div class="well experience">
                    <img src="../../../modules/core/img/experiences/kilix.png" alt="Kilix" class="logo"/>
                    <h1 class="section-header">Experiences</h1>
                    <h2 class="job-title">Frontend Developer</h2>
                    <h3 class="company">Kilix</h3>
                    <h4 class="duration">August 2014 - December 2014 | Sèvres</h4>
                    <div class="job-description">
                        <p>I was interning at Kilix, the digital agency of Extia (engineering consulting).
                            I've been working for several weeks on the new ERP (web application) of the company,
                            and on a website (http://consultiva.eu/fr/) and a web application for a
                            portfolio management company.</p>
                        <p>During this 5-month internship, I've been using technologies, languages and softwares
                            such as <b>HTML5, CSS3 (SASS, Bootstrap, Foundation), Templating with Twig framework,
                                JS (jQuery, Grunt, Module Pattern), GitLab, Jenkins, Trello with Agile methodology
                                (Scrum - Kanban)</b>.</p>
                    </div>
                </div>
            </div>
            <!--La Redoute-->
            <div class="slideFullPage">
                <div class="well experience">
                    <img src="../../../modules/core/img/experiences/la-redoute.png" alt="La Redoute" class="logo"/>
                    <h1 class="section-header">Experiences</h1>
                    <h2 class="job-title">Information System (Intern)</h2>
                    <h3 class="company">La Redoute</h3>
                    <h4 class="duration">September 2013 - December 2013 | Roubaix</h4>
                    <div class="job-description">
                        <p>In construction...</p>
                    </div>
                </div>
            </div>
            <!--Parks and Recreation-->
            <div class="slideFullPage">
                <div class="well experience">
                    <img src="../../../modules/core/img/experiences/parks-and-recreation.png" alt="NYC's Parks and Recreation" class="logo"/>
                    <h1 class="section-header">Experiences</h1>
                    <h2 class="job-title">Frontend Developer (Intern)</h2>
                    <h3 class="company">NYC's Parks and Recreation Department - New Media Division</h3>
                    <h4 class="duration">June 2013 - August 2013 | New York City</h4>
                    <div class="job-description">
                        <p>Integration of the new graphic identity on the Parks & Recreation <a href="">website</a>, a department of NYC Town Hall.</p>
                        <p>During this 3-month internship, I've been using technologies, languages and softwares such as <b>HTML, CSS (Bootstrap), SFTP, Photoshop, Excel</b>.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--Computing Skills-->
        <div class="sectionFullPage">
            <div class="well">
                <h1 class="section-header">Computing Skills</h1>
                <div class="row computing-skills">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <h2>HTML5</h2>
                        <ul>
                            <li>Templating Twig</li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <h2>CSS3</h2>
                        <ul>
                            <li>SASS</li>
                            <li>Bootstrap</li>
                            <li>Foundation</li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <h2>Javascript</h2>
                        <ul>
                            <li>Angular</li>
                            <li>Module Pattern</li>
                            <li>Grunt</li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <h2>Misc</h2>
                        <ul>
                            <li>Git / GitHub / GitLab</li>
                            <li>NPM / Bower</li>
                            <li>Jenkins</li>
                            <li>Saltpad</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--Projects-->
        <div class="sectionFullPage">
            <div class="slideFullPage">
                <div class="jumbotron text-center">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                            Project 1
                        </div>
                    </div>
                </div>
            </div>
            <div class="slideFullPage">
                <div class="jumbotron text-center">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                            Project 2
                        </div>
                    </div>
                </div>
            </div>
            <div class="slideFullPage">
                <div class="jumbotron text-center">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                            Project 3
                        </div>
                    </div>
                </div>
            </div>
            <div class="slideFullPage">
                <div class="jumbotron text-center">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                            Project 4
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Education-->
        <div class="sectionFullPage">
            <div class="well">
                <h1 class="section-header">Education</h1>
                <hr/>
            </div>
        </div>
        <!--About me-->
        <div class="sectionFullPage">
            <div class="well">
                <h1 class="section-header">About Me</h1>
                <hr/>
            </div>
        </div>
    </div>
</section>
