.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.container{
    width: 100%;
    padding: 0;
}
header{
    padding: 0 25px;
}
.section-header{
    border-bottom: 2px solid black;
    display: inline-block;
    padding-bottom: 10px;
}
.slide{
    padding: 20px 101px 20px 66px;
    min-height: 460px;
}
.slide .logo{
    max-width: 300px;
    max-height: 200px;
    float: right;
}
.flexbox-button{
    padding: 1em 1em;
    text-align: center;
    color: white;
    border: 2px solid white;
    font-weight: bold;
}
.sections-anchors{
    margin-top: 50px;
    text-transform: uppercase;
}
.fp-next{
    right: 50px!important;
}
